
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
    height: 100%;
    border-top: 2px solid #001534;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
    height: 0;
    overflow: hidden;
    transition: ease-in .25s;
}


.accordion {
    padding: 0;
    margin: 0 auto;
    width: 320px;
    font-family: "PT Sans" sans-serif;
   
}

.accordion .accordion-item {
    font-weight: 700;
    padding: 1em;
    color: #000;
}

.accordion h1 {
    margin: 0;
}

.accordion .accordion-item:nth-child(1) {
    /* background-color: hsl(200, 80%, 60%); */
    /* background-image: linear-gradient(-90deg, hsl(200, 80%, 60%), hsl(200, 80%, 45%) 2em, hsl(200, 80%, 60%)); */

}

.accordion .accordion-item:nth-child(2) {
    /* background-color: hsl(280, 60%, 45%); */
    /* background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%)); */
}

/* .accordion .accordion-item:nth-child(3) {
    background-color: hsl(40, 80%, 40%);
    background-image: linear-gradient(-90deg, hsl(40, 80%, 60%), hsl(40, 80%, 45%) 2em, hsl(40, 80%, 60%));
} */

